//- Seccion para widgets que identifica si esta vacia
//- @author zkreations
//- @param {string} id - Identificador unico

mixin section(id)
  //- Etiqueta section que comprueba si contiene widgets visibles
  b:section(id=id cond=`data:widgets any (w => w.sectionId == "${id}")`)&attributes(attributes)
    //- Contenido (b:widget)
    if block
      block